<div class="col-lg-12">
  <% @items.each do |item| %>
    <div class="col-md-3">
      <%= link_to image_tag(item.image.url), item.image_file_name, { class: 'thumbnail'} %>
    </div>
  <% end %>
</div>
